<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CelestialUI Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="static/css/typicons.css">
  <link rel="stylesheet" href="static/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/style.css">
  <!-- endinject -->
  
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="static/picture/logo.svg" alt="logo">
              </div>
              <h4>Hello!This is HELP,you can read the following for help</h4>
              <h6 class="font-weight-light">No way, no way, there's not really a bug~</h6>
              <h6 class="font-weight-light"> I know you're testing meow ~  </h6>
              <h6 class="font-weight-light"> there's actually no bug, right?  </h6>
              <h6 class="font-weight-light"> OKOK, if it's true you can leave a comment on github </h6>
              <h6 class="font-weight-light"> Now log back in, if you can't go play the <a target="_blank" href="https://www.yuanshen.com/#/">Genshin</a> </h6>
              <form class="pt-3" action="/index" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="userIdInput" name="userId" placeholder="Your music_163 id">
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  <h5>Don't know how to get your music_163 id? </h5>
                  <a href="https://music.163.com/#/search" class="text-primary">kick here to search</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="static/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/hoverable-collapse.js"></script>
  <script src="static/js/template.js"></script>
  <script src="static/js/settings.js"></script>
  <script src="static/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
