<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="static/js/echarts.js"></script>
    <title>CelestialUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="static/css/typicons.css">
    <link rel="stylesheet" href="static/css/vendor.bundle.base.css">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- endinject -->
    <style>
      .image-container {
        max-width: 250px;
        max-height: 250px;
      }
  
      .image-container img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>
    <style>
      .image-container1 {
        max-width: 500px;
        max-height: 500px;
      }
  
      .image-container1 img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>
  <style>
    .round-image {
      border-radius: 50%;
      width: 36px;
      height: 36px;
    }
  </style>
  <style>
    .round-image1 {
      border-radius: 50%;
      align-items: center;
      width: 270px;
      height: 270px;
    }
    .round-image1 img {
        max-width: 100%;
        max-height: 100%;
      }
  </style>
    <script>
    function postUserId() {
      var form = document.createElement('form');
      form.method = 'POST';
      form.action = '/index';
    
      var userIdInput = document.createElement('input');
      userIdInput.type = 'hidden';
      userIdInput.name = 'userId';
      userIdInput.value = '{{user_id}}';
    
      form.appendChild(userIdInput);
      document.body.appendChild(form);
      form.submit();
    }
    </script>
        <script>
          function postUserId2() {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/search';
          
            var userIdInput = document.createElement('input');
            userIdInput.type = 'hidden';
            userIdInput.name = 'userId';
            userIdInput.value = '{{user_id}}';
          
            form.appendChild(userIdInput);
            document.body.appendChild(form);
            form.submit();
          }
          </script>
        <script>
          function postUserId3() {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/recommend';
          
            var userIdInput = document.createElement('input');
            userIdInput.type = 'hidden';
            userIdInput.name = 'userId';
            userIdInput.value = '{{user_id}}';
          
            form.appendChild(userIdInput);
            document.body.appendChild(form);
            form.submit();
          }
          </script>
        <script>
          function postArtistAndUserId(artistId, userId) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/artist';

            var artistIdInput = document.createElement('input');
            artistIdInput.type = 'hidden';
            artistIdInput.name = 'artistId';
            artistIdInput.value = artistId;

            var userIdInput = document.createElement('input');
            userIdInput.type = 'hidden';
            userIdInput.name = 'userId';
            userIdInput.value = userId;

            form.appendChild(artistIdInput);
            form.appendChild(userIdInput);
            document.body.appendChild(form);
            form.submit();
          }

          </script>
  </head>
  <body>
    <div class="row" id="proBanner">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup">
          <p>关注塔菲喵，关注塔菲谢谢喵</p>
          <a href="https://space.bilibili.com/1265680561" target="_blank" class="btn download-button purchase-button ml-auto">点击关注（wink）</a>
          <i class="typcn typcn-delete-outline" id="bannerClose"></i>
        </span>
      </div>
    </div>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href=""><img src="static/picture/logo.svg" alt="logo"></a>
          <a class="navbar-brand brand-logo-mini" href=""><img src="static/picture/logo-mini.svg" alt="logo"></a>
          <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-flex  mr-2">
              <a class="nav-link" href="/help">
                Help
              </a>
            </li>
            <li class="nav-item dropdown  d-flex">
              <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="typcn typcn-bell mr-0"></i>
                <span class="count bg-danger">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                <a class="dropdown-item preview-item">
                  <div class="sidebar-profile-image">
                    <img src="static/picture/genshin.png" alt="image">
                    <span class="sidebar-status-indicator"></span>
                  </div>
                  <div class="preview-item-content">
                    <p class="font-weight-light small-text mb-0">
                      Don't forget to go online today, Traveler
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="sidebar-profile-image">
                    <img src="static/picture/honkai.png" alt="image">
                    <span class="sidebar-status-indicator"></span>
                  </div>
                  <div class="preview-item-content">
                    <p class="font-weight-light small-text mb-0">
                      Don't forget to come online today, Captain
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle  pl-0 pr-0" href="#" data-toggle="dropdown" id="profileDropdown">
                <i class="typcn typcn-user-outline mr-0"></i>
                <span class="nav-profile-name">Evan Morales</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/login">
                <i class="typcn typcn-power text-primary"></i>
                Logout
                </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="typcn typcn-th-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <div class="d-flex sidebar-profile">
              <div class="sidebar-profile-image">
                <img src="static/picture/hanser.png" alt="image">
                <span class="sidebar-status-indicator"></span>
              </div>
              <div class="sidebar-profile-name">
                <p class="sidebar-name">
                  {{ user_name }}
                </p>
                <p class="sidebar-designation">
                  Welcome
                </p>
              </div>
            </div>
            <div class="nav-search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="No use just for fun..." aria-label="search" aria-describedby="search">
                <div class="input-group-append">
                  <span class="input-group-text" id="search">
                    <i class="typcn typcn-zoom"></i>
                  </span>
                </div>
              </div>
            </div>
            <p class="sidebar-menu-title">Dash menu</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index" onclick="event.preventDefault(); postUserId()">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Dashboard <span class="badge badge-primary ml-3"> Home</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search" onclick="event.preventDefault(); postUserId2()">
              <i class="typcn typcn-compass menu-icon"></i>
              <span class="menu-title">Search Artist </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recommend" onclick="event.preventDefault(); postUserId3()">
              <i class="typcn typcn-film menu-icon"></i>
              <span class="menu-title">Recommend To You </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="typcn typcn-user-add-outline menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="login"> Logout </a></li>
                <li class="nav-item"> <a class="nav-link" href="https://music.163.com/#/search"> Search id </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="documentation.html">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
        <ul class="sidebar-legend">
          <li>
            <p class="sidebar-menu-title">Recommended Games</p>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">Honkai Impact 3rd</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Genshin Impact</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Honkai: Star Rail</a></li>
        </ul>
      </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0 font-weight-bold">{{user_name}}</h3>
                <p>Signature: </p>
                <p>{{user_signature}}</p>
              </div>
              <div class="col-sm-6">
                <div class="d-flex align-items-center justify-content-md-end">
                  <div class="mb-3 mb-xl-0 pr-1">
                      <div class="dropdown">
                        <a class="btn bg-white btn-sm dropdown-toggle btn-icon-text border mr-2" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="typcn typcn-calendar-outline mr-2"></i>All Datas
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Search For</h2>
                  <p class="card-description">
                    Enter the artist id to view the artist details, note that you may have to wait a while as the crawler takes time to run.
                  </p>
                  <form class="form-inline" action="/artist" method="post">
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-4" id="inlineFormInputName2" name="artistId" placeholder="Artist id">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                    <div class="form-check mx-sm-2">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="userId" value="{{user_id}}" checked>
                        Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">Favourite Singers Top8</h4>
                    </div>
                    <div class="text-muted">Click on the author's name for author details</div>
                    <h1></h1>
                  <div class="row">
                    {% for item in artist_top8 %}
                    <div class="col-lg-3">
                      <div>
                        <div>
                          <img src="{{item.url1}}" alt="Image" class="round-image1">
                          <a class="nav-link" href="/artist" onclick="event.preventDefault(); postArtistAndUserId('{{item.artist_id1}}','{{user_id}}')">
                            <h3 class="mb-0 font-weight-bold" style="text-align: center;">{{item.name1}}</h3>
                          </a>
                        
                        </div>
                      </div>
                    
                      <div style="margin-top: 20px;">
                        <div>
                          <img src="{{item.url2}}" alt="Image" class="round-image1">
                          <a class="nav-link" href="/artist" onclick="event.preventDefault(); postArtistAndUserId('{{item.artist_id2}}','{{user_id}}')">
                            <h3 class="mb-0 font-weight-bold" style="text-align: center;">{{item.name2}}</h3>
                          </a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Chenxu Zhang &copy; 2023.6.18 SCUT FT   <a target="_blank" href="https://space.bilibili.com/227613864?spm_id_from=333.337.0.0">商务合作</a>
                
              </span>
              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="static/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/template.js"></script>
    <script src="static/js/settings.js"></script>
    <script src="static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="static/js/progressbar.min.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="static/js/dashboard.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>